#container{
    display: "flex";
    flex-direction: column;
    width: 250px;
    height:250px;
    border-radius: 5px;
}

#clock{
    width: 50px;
    height: 30px;
}

#navbar{
    display: "flex";
    flex-direction: row;
}
#clock{

}
#time{
    height: 25px;
    margin:5px;
}